.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.submitScore {
  display: flex;
}
.submitScore fieldset label,
.submitScore fieldset input,
.submitScore fieldset select {
  display: block;
}

.player-table {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.card-block {
  margin-bottom: 100px;
}
.table-cell {
  /* box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2); */
}

/* Table column sizing
================================== */
.table-2cols > .table-cell {
  width: 50%;
}
.table-3cols > .table-cell {
  width: 33.33%;
}
.table-4cols > .table-cell {
  width: 25%;
}
.table-5cols > .table-cell {
  width: 20%;
}
.table-6cols > .table-cell {
  width: 16.6%;
}
.table-7cols > .table-cell {
  width: 14.3%;
}
.table-8cols > .table-cell {
  width: 12.5%;
}
